include ../mixins/sub-menu.pug
header.header 
    .container 
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href="/" class="d-flex align-items-center")
                        img(src="/images/logoLamMobiles.png", alt="Logo")

            .col-5 
                form(
                    action="/search"
                    method="GET"
                )
                    div(class="form-group d-flex mb-0 search-box")
                        button(
                            type="submit"
                            class=""
                        ) <i class="fa-solid fa-magnifying-glass"></i>
                        input(
                            type="text"
                            placeholder="Bạn cần tìm gì?"
                            class="search-input"
                            name="keyword"
                            value=keyword
                        )
                        
            
            .col-4 
                .inner-menu
                    ul
                        li
                            a(href="/") Trang chủ
                        li(class= "sub-menu")
                            - const pathProduct = "/products"
                            a(href=pathProduct) Sản phẩm
                            if (layoutCategoryProducts)
                                +sub-menu(layoutCategoryProducts, pathProduct)
                        li
                            a(href="/cart" class="mini-cart") 
                                i(class="fa-solid fa-cart-shopping") 
                                div(class="mini-cart-quantity")
                                    | #{miniCart ? miniCart.totalQuantity : "0"}